﻿html {
    scroll-behavior: smooth;
}

body {
   margin-bottom: 10vh;
}

.header {
    display:flex;
    background-color: grey;
    width: 100%;
}

div#Main-body {
    vertical-align: top;
    background-color: darksalmon;
    width: 70%;
}

div#Menu {
    width: 30%;
    text-align: center;
}

.body-container {
    font-size: 0px;
    margin: auto;
    width: 80vw;
    background-color: salmon;
}

.body-element {
    font-size: 16px;
    display: inline-block;   
}

.footer {
    width: 100%;
    display: table;
    position: fixed;
    bottom: 0;
    background-color: coral;
    height: 10vh;
    text-align: center;
}

.footer p {
    vertical-align: middle;
}


.article {
    text-align: justify;
    margin: 2vh;
    border: 1px solid black;
    padding: 1vh;
}

div#logo {
    background-image: url(../Photoes/logo.png);
    width: 8vw;
    height: 8vh;
}

div#site-name {
    text-align: center;
    position: absolute;
    top: 3%;
    font-size: 18px;
    width: 92vw;
}